{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/contacto.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Asociacion Juntos en accion{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <div class="nav_div_logo">
            <img src="{% static 'img/logos_asociacion/logo2-sin-fondo.png' %}" alt="logo de la asociacion" class="nav_img_logo">
        </div>
        <ul>
            <li class="li_nav nav_home"><a href="{% url 'home' %}" class="nav_a">Home</a></li>
            <li class="li_nav nav_quienes-somos"><a href="#quienes-somos" class="nav_a">Quienes somos</a></li>
            <li class="li_nav nav_mision"><a href="#mision" class="nav_a">Misión-Visión</a></li>
            <li class="li_nav"><a href="{% url 'recursos' %}" class="nav_a">Recursos</a></li>
            <li class="li_nav nav_contacto"><a href="#contacto" class="nav_a">Contactos</a></li>
            <li class="li_nav"><a href="{% url 'noticias' %}" class="nav_a">Noticias</a></li>
        </ul>
        <div class="nav_login">
            <button class="btn_login"><a href="" class="nav_a">Login</a></button>
        </div>
    </nav>
    {% block content %}
    {% endblock  %}
    <footer>
        <p>Pie de pagina</p>
    </footer>
    <script src="{% static 'js/main.js'%}"></script>
</body>
</html>