{% extends 'base.html' %}
{% load static %}  

    {% block contenedor %}
    <header class="info">
        <div class="contenedorInfo">
            <div class="header_text">
                <h2>ASOCIACIÓN</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ratione, harum quo adipisci
                    consectetur voluptate asperiores officia dolores dolorem quaerat excepturi cum nisi vitae quidem
                    earum ipsa eligendi exercitationem et minima molestiae iste! Autem cum vitae aut ipsam mollitia
                    quidem vero ab amet alias odio, repellendus facere perspiciatis hic debitis commodi nulla dolore
                    dolor quas ipsum provident. Non, nulla labore.</p>
            </div>
            <div class="header_imagenes">
                <div class="img1">
                    <img src="{% static 'img/logoPrincipal.png'%}" alt="Logo-Principal" class="imagen1">
                </div>
                <div class="img2">
                    <img src="{% static 'img/logoEscuela.png'%}" alt="Logo-Escuela" class="imagen2">
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="main_contenedor_noticia">
            <div class="main_noticia">
                <h2>Título Noticia 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae minus, nam quasi incidunt quibusdam
                    totam enim porro accusantium deleniti cum harum ad consectetur ipsum! Ut fugiat amet tenetur
                    suscipit saepe numquam, dicta, perferendis quia quas nisi non quam a dignissimos error porro tempore
                    aperiam unde? Placeat maxime illum qui ullam itaque recusandae officiis blanditiis libero voluptate!
                    Aspernatur laudantium velit, laboriosam accusantium iure illo, numquam ab quas quae quos quisquam
                    ipsam temporibus. Debitis enim unde magni excepturi, quidem impedit facere id autem illum architecto
                    corrupti atque voluptate saepe dolores. Dolorem laborum consectetur perspiciatis nisi explicabo
                    ratione labore in dicta saepe aspernatur. Eveniet vitae repellat ex laudantium quidem cupiditate
                    harum architecto, maxime, sunt veniam quod? Quas amet, vel corporis magnam harum ab sapiente quo
                    tenetur consectetur voluptatibus illum perspiciatis numquam, aliquid molestias iure fugit dolorum ea
                    dignissimos. Sapiente, tenetur praesentium beatae excepturi alias impedit error et laboriosam porro,
                    doloremque id? At, similique!.</p>
            </div>
            <div class="main_noticia">
                <h2>Título Noticia 2</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, vel ex. Non saepe, modi veniam
                    nulla laboriosam iusto quidem quaerat asperiores nobis omnis quam quae similique officia cupiditate.
                    Perferendis error voluptatem nihil cum velit quo, soluta aspernatur exercitationem fugiat blanditiis
                    dicta nisi tempore nesciunt repellat eveniet delectus in esse reprehenderit praesentium. Corrupti,
                    ratione officiis iusto magnam libero enim, voluptatum aperiam ad numquam, omnis dicta dolorum?
                    Laudantium excepturi est, possimus cupiditate vero aut minima eveniet omnis nostrum adipisci ea
                    suscipit deserunt veniam tenetur. Asperiores enim iste illo, quod aperiam ad dolore harum et
                    incidunt consectetur unde aspernatur quaerat natus ducimus ipsa mollitia. Earum itaque id impedit
                    repellat, alias, eos reiciendis adipisci qui nihil labore fugiat nisi nam voluptas aut amet
                    asperiores quia exercitationem eligendi pariatur. A, ullam consequatur culpa vel dolore quisquam
                    recusandae eveniet sint eum incidunt iste sequi quidem! Eum voluptates voluptatibus odit molestiae,
                    animi rerum delectus nam incidunt corporis?</p>
            </div>
            <div class="main_noticia">
                <h2>Título Noticia 3</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit a magnam, vitae natus, sed quia
                    expedita exercitationem error cumque labore eos numquam. Facere doloremque odit vel accusantium
                    error dolor, quaerat enim omnis necessitatibus voluptas? Incidunt aut repudiandae culpa impedit
                    voluptatibus iusto iste distinctio laborum iure at ipsum, optio dolore ut eos ducimus fugit
                    doloremque et minima accusamus id ex. Architecto, fuga et, cumque nesciunt molestiae saepe magni
                    sequi adipisci cum distinctio, voluptatibus libero sapiente. At sapiente modi officiis ratione
                    repellat doloribus dolorum alias sit. A vel vitae ipsa obcaecati, expedita natus veritatis dolorem
                    corrupti sapiente! Officia minima labore eligendi iure obcaecati. Pariatur quas dicta aspernatur ad
                    id officiis odit doloremque inventore repudiandae debitis? Quaerat sint ea, earum consequatur iure,
                    minima aliquam voluptate harum doloribus itaque nisi ipsum id error ipsam atque voluptatem autem
                    repudiandae expedita cupiditate iste delectus eveniet adipisci distinctio iusto. Ea ex nostrum
                    mollitia impedit consectetur optio aut.</p>
            </div>
        </div>
    </main>
    {% endblock  %}

</body>

</html>