{% extends 'base.html' %}
{% load static %}  

    {% block contenedor %}
    <header class="info">
        <div class="contenedorInfo">
            <div class="header_text">
                <h2>ASOCIACIÓN</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ratione, harum quo adipisci
                    consectetur voluptate asperiores officia dolores dolorem quaerat excepturi cum nisi vitae quidem
                    earum ipsa eligendi exercitationem et minima molestiae iste! Autem cum vitae aut ipsam mollitia
                    quidem vero ab amet alias odio, repellendus facere perspiciatis hic debitis commodi nulla dolore
                    dolor quas ipsum provident. Non, nulla labore.</p>
            </div>
            <div class="header_imagenes">
                <div class="img1">
                    <img src="{% static 'img/logoPrincipal.png'%}" alt="Logo-Principal" class="imagen1">
                </div>
                <div class="img2">
                    <img src="{% static 'img/logoEscuela.png'%}" alt="Logo-Escuela" class="imagen2">
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="main_info">
            <div class="main_card_contenedor">
                <div id="mision" class="card_info mision">
                    <h2>Misión-Visión</h2>
                    <p>Para los que formamos Juntos en Acción las personas con discapacidad son titulares de los mismos derechos fundamentales que el resto de los ciudadanos. Creemos en una concepción donde las personas con discapacidad poseen facultad para decidir sobre sus propias vidas, mientras su discapacidad no impida esto, en oposición a una concepción paternalista como la que rige aun en estos tiempos. las personas con discapacidad reclaman la igualdad de oportunidades y es nuestro deber ayudarlos a que lo puedan lograr.</p>
                </div>
            </div>
            <div class="main_card_contenedor">
                <div class="card_info objetivo">
                    <h2>Objetivos</h2>
                        <ul>
                            <li>Apoyo, contención y asesoramiento, propiciando el involucramiento de las familias y la sensibilización de la comunidad. </li>
                            <li>Creación de espacios priorizando actividades dentro de la recreación y capacitación laboral. </li>
                            <li>Capacitar y luego lograr la inserción laboral, entre otros fines (la asociación creo la UEGP N°143 Centro de Formación Integral para Personas con Discapacidad para alcanzar las metas planteadas, se viene trabajando a través de ella hace 10 años y se continúa)</li>
                        </ul>
                </div>
            </div>
        </section>
    </main>
    {% endblock  %}

</body>

</html>