{% extends 'base.html' %}
{% load static %}  
{% block title %} Home{% endblock %} 
    {% block contenedor %}

    <header class="info">
        <div class="contenedorInfo">
            <div class="header_text">
                <h2>¿QUIÉNES SOMOS?</h2> 
                <p> 
                    JUNTOS EN ACCION  es una Asociación Civil sin fines de lucro formada por ciudadanos al servicio de las personas con discapacidad. Nuestros principales objetivos son: a) Apoyar, contener y asesorar, propiciando el involucramiento de las familias y la sensibilización de la comunidad. b) Crear espacios priorizando actividades dentro de la recreación y capacitación laboral. c) Resaltar la  importancia de la inclusión social y laboral de las personas con discapacidad, para su realización personal. d) Insertar al joven con discapacidad en el mundo laboral. La institución está dirigida y administrada por una Comisión Directiva compuesta de un presidente, un secretario, un tesorero, un vocal titular y un vocal suplente y también una comisión Revisora de Cuentas compuesta por un miembro Titular y uno Suplente.
                </p>
                </div>
            <div class="header_imagenes">
                <div class="img1">
                    <img src="{% static 'img/logoPrincipal.png'%}" alt="Logo-Principal" class="imagen1">
                </div>
                <div class="img2">
                    <img src="{% static 'img/logoEscuela.png'%}" alt="Logo-Escuela" class="imagen2">
                </div>
            </div>
        </div>
    </header>
    <main id="mision">
        <section class="main_info">
            <div class="main_card_contenedor">
                <div  class="card_info">
                    <h2>Misión-Visión</h2>
                    <p class="mision2">Para quienes formamos parte de “JUNTOS EN ACCION” las personas con discapacidad son titulares de los mismos derechos fundamentales que el resto de los ciudadanos. El 1° artículo de la Declaración Universal de los Derechos Humanos (la cual Argentina ha ratificado e incluido en nuestra Constitución Nacional) declara: “Todos los seres humanos son libres e iguales en dignidad y derechos.” A fin de alcanzar esa meta, todas las comunidades deben celebrar la diversidad en el seno de sí mismas, y deben asegurar que las personas con discapacidad puedan disfrutar de las distintas clases de derechos humanos: civiles, políticos, sociales, económicos y culturales reconocidos por las distintas Convenciones Internacionales y la Constitución Nacional y Provincial.
                    Creemos en una concepción donde las personas con discapacidad poseen facultad para decidir sobre sus propias vidas, mientras su discapacidad no impida esto, en oposición a una concepción “paternalista” como la que ha regido en las sociedades del mundo hasta no hace mucho y que, en algunas, tal vez la nuestra también, todavía se encuentra vigente.
                    Los viejos enfoques basados en gran medida en la compasión y en la indefensión para nosotros son inaceptables tratándose de personas que no se ven impedidas de insertarse en la sociedad. Las personas con discapacidad reclaman la igualdad de oportunidades y de acceso a los recursos sociales, como, por ejemplo, el trabajo, una educación integradora, el acceso a las nuevas tecnologías, los servicios sociales y sanitarios, el deporte y actividades de ocio, a productos, bienes y servicios de consumo.</p>
                </div>
            </div>
            <div class="main_card_contenedor">
                <div class="card_info objetivo">
                    <h2>Objetivos</h2>
                        <ul>
                            <li>Incentivar el desarrollo integral de las capacidades de las personas con discapacidad. </li>
                            <li>Brindar asistencia integral a las familias de las personas con discapacidad.</li>
                            <li>Promover la articulación inter institucional y el trabajo mancomunado entre Institución, familia, comunidad.</li>
                            <li>Generar espacios de concientización en relación a la importancia de la inclusión laboral de las personas con discapacidad.</li>
                            <li>Propiciar espacios de práctica laboral, tanto en ámbitos públicos o privados.</li> 
                        </ul>
                </div>
            </div>
        </section>
        <section class="main_contacto">
            <div class="maps">
                <h2>Ubicacion</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3561.6859010894054!2d-60.4488329495542!3d-26.786280494311505!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94412ce3c68bc62f%3A0x8c842a33abd51d5a!2sDorrego%20490%2C%20H3700IAJ%20S%C3%A1enz%20Pe%C3%B1a%2C%20Chaco!5e0!3m2!1ses!2sar!4v1670109639333!5m2!1ses!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
    </main>
    {% endblock  %}

</body>

</html>