{% extends 'base.html' %} 
{% load static %} 
{% block title %} Noticias{% endblock %} 
{% block contenedor %}

<main class="main-noticias">
  <section class="section-noticias-ultimas_noticias">
    <div class="titulo-buscador-ultimas_noticias">
      <h2>Ultimas Noticias</h2>

      <div class="buscador">
        <input type="text" placeholder="Busqueda por categoria y noticia" />
        <button><img src="{% static 'img/busquedad.png' %}" alt="" /></button>
      </div>
    </div>

    <div class="contenedor-ultimas_noticias">
      {% for i in noticiaUlt %}
      <div
        class="noticia noticia-card1"
        style="background-image: url({% static 'img/pruebas/73294.jpg'%})"
      >
        <img src="{% static 'img/pruebas/73294.jpg' %}" alt="" />
        <div class="descripcion">
          <h3>{{i.titulo}}</h3>
          <p>
            {{i.cuerpo}}
          </p>
        </div>
      </div>

      {% endfor %}
      <button class="cambio-noticias btn-left"><</button>
      <button class="cambio-noticias btn-rigth">></button>
    </div>
  </section>
</main>
<article class="articulo">
  {% for i in noticia %}
  <div class="contenedorNoticia">
    <img src="{% static 'img/pruebas/messi.jpg' %}" alt="Imágen Noticia" class="img-noticia">
    <div class="contenedorTexto">
      <div class="texto-articulo">
        <h3 class="tituloNoticia">{{i.titulo}}</h3>
        <p class="resumenNoticia">{{i.cuerpo}}</p>
      </div>
      <div class="btn-articulo">
        <a href="#" class="leerMas">Leer más</a>
      </div>
    </div>
  </div>
  {% endfor %}
</article>
{% endblock %}
