{% extends 'base.html' %} 
{% block title %} Noticias{% endblock %}
{% block contenedor %}
<main class="main-noticias">

  <section class="section-noticias-ultimas_noticias">

    <div class="titulo-buscador-ultimas_noticias">

      <h2>Ultimas Noticias</h2>

      <div class="buscador">
        <input type="text" />
        <button><i></i></button>
      </div>

    </div>

    <div class="contenedor-ultimas_noticias">

      <div class="noticia">
        <div class="descripcion">
            <h3>Seguimos con el sueño mundialista</h3>
            <p>Argentina le gana a Paises Bajos y logra avanzar a la siguiente etapa del mundial, donde se enfrentara a croacias.</p>
        </div>
      </div>


    </div>

  </section>
</main>
{% endblock %}
