.main_telf{
    width: 100%;
    height: auto;
    background-color: var(--fondo-nav);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 2rem;
}

.card_telf{
    width: 100%;
    margin: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.main_iconos{
    height: 60px;
    margin-bottom: 2rem;
}

.main_scann{
    height: 200px;
    margin-bottom: 2rem;
}

.telf_titulo{
    margin-bottom:1rem;
    /* color:rgb(165, 165, 165); */
    color: var(--fondo-principal);
    font-family: var(--family-verdana);
}

.ul_telf li{
    margin: 1rem;
    list-style-type: circle;
    color: white;
}

.ul_telf li a{
    text-decoration: none;
    color:rgb(165, 165, 165);
    font-family: var(--family-verdana);
}


@media only screen and (max-width:550px){
    
    .main_telf{
        flex-direction: column;
        padding: 1rem;
    }

    .card_telf{
        width: 100%;
        margin: .5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column
    }
    .telf_titulo{
        text-align: start;
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
    
    .ul_telf li a{
        font-size: .8rem;
    }
}