main{
    width: 100%;
    height: auto;
    padding: 2.5rem;
}

.main_contenedor_noticia{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main_noticia{
    width: 30%;
    height: 30rem;
}
