main{
    width: 100%;
    height: auto;
}

.main_info{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fondo-main);
}

.main_card_contenedor{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_info{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    /* background-color: var(--fondo-principal); */
    color:rgb(165, 165, 165);
    padding: 2rem 3rem;
    margin: 4rem 0;
    border-radius: 20px;
    /* box-shadow: 0 0 10px 1px #333; */
    font-family: var(--family-verdana);
    font-size: 1.2rem;
}

.card_info h2{
    margin-bottom: 1.5rem;
}

.card_info p{
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: justify;
}

.card_info ul>li{
    font-size: 1rem;
    line-height: 1.4rem;
    margin-bottom: 1.6rem;
    text-align: justify;
    list-style:circle;
}

@media only screen and (max-width: 768px){

    .card_info{
        height: auto;
    }
    .card_info h2{
        font-size: 1.5rem;
    }
    .card_info p{
        font-size: .7rem;
        text-align: justify;
    }

    .card_info ul>li{
        font-size: .7rem;
        margin-bottom: .5rem;
        text-align: justify;
        list-style:circle;
    }

    .main_contacto{
        height: 20vh;
    }

    iframe{
        width: 80%;
        height: 80%;
    }
}

@media only screen and (max-width:550px){

    .main_info{
        flex-direction: column;
    }

    .main_card_contenedor{
        width: 100%;
    }

    .card_info{
        width: 100%;
        height: auto;
        margin: 2rem 0;
        padding: .5rem 1rem;
        border-radius: 0;
        box-shadow: none;
    }
    

    .card_info h2{
        font-size: 1rem;
        text-align: center;
    }
    
    .card_info p{
        font-size: .5rem;
        text-align: justify;
    }

    .card_info ul>li{
        font-size: .5rem;
    }

}