main{
    width: 100%;
    height: auto;
}

.main_info{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_card_contenedor{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_info{
    width: 80%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: var(--fondo-principal);
    color:#444;
    padding: 2rem;
    margin: 4rem 0;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px #333;
    font-family: var(--family-verdana);
}

.card_info h2{
    margin-bottom: 1rem;
}

.card_info p{
    font-size: .9rem;
    text-align: justify;
}

.card_info ul>li{
    font-size: .9rem;
    margin-bottom: .5rem;
    text-align: justify;
}