.main_contacto{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/static/img/fotos/foto5r.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: var(--fondo-principal); */
}

.maps{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:2rem 0;
    background-color: rgb(221, 221, 221);
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 10px 1px #333;
}

.maps h2{
    margin:0 0 2rem 0;
    color: var(--fondo-principal);
    font-family: var(--family-verdana);
}

iframe{
    border-radius: 20px;
}

@media only screen and (max-width:550px){
    .maps{
        border-radius: 0;
        width: 100%;
    }
}