.main-login{
    width: 100%;
    min-height: calc(100% - 12rem);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--family-verdana);
    color: #333;
    font-size: 2rem;
    background-color: var(--fondo-principal);   
}

.main-registrar{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--family-verdana);
    color: #333;
    font-size: 2rem;
    background-color: var(--fondo-principal);
}

.main-registrar h3{
    margin-top: 1.5rem;
}

.container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fondo-main);
    margin:1rem 0;
    padding: 1rem;
}

.img-forms{
    width: 30%;
    height: 50%;
}

.div-img-left{
    height: 80%;
}

.img-forms img{
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 2px 10px #3337);
}

.form-registrar{
    width: 30%;
    height:auto;
    background-color: var(--fondo-principal);
    border-radius: 30px;
    margin: 0 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    font-family: var(--family-verdana);
    box-shadow: 0 0 10px 3px #3337;
}

.contenedor_input{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    margin: .5rem 0 0 0;
}

.contenedor_input label{
    width: 100%;
    height: 1.5rem;
    border-radius: 10px 10px 0 0;
    padding: 0 .5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: .7rem;
    color:#333;
    font-weight: 800;
    background-color: #f0f0f0;
}

.contenedor_input input{
    width: 100%;
    height: 1.5rem;
    border: none;
    outline: none;
    border-radius: 0 0 10px 10px;
    padding-left: .5rem;
}

.contenedor_input input:focus{
    border-bottom: 2px solid #333;
}

.btn-registrar{
    margin-top: 1rem;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: var(--fondo-nav);
    color: #f0f0f0;
}


.valida{
    border: 1px solid #0f4;
}

.sin-validar{
    border: 1px solid #f04;
}

.mensaje-error{
    font-size: .6rem;
}

@media only screen and (max-width: 1440px){
    
}

@media only screen and (max-width: 1024px){

}

@media only screen and (max-width: 768px){

    .main-registrar{
        
        height: auto;
    }

    .form-registrar{
        width: 90%;
        height: 90%;
    }
    .img-forms{
        display: none;
    }

    .contenedor_input label{
        width: 100%;
        height: 2.5rem;
        font-size: 1.3rem;
    }
    
    .contenedor_input input{
        width: 100%;
        height:2.5rem;
        font-size: 1.3rem;
    }

    .btn-registrar{
        width: 200px;
        height: 40px;
        font-size: 1.8rem;
    }

    .form-login{
        height: 50%;
    }
}

@media only screen and (max-width:450px){
    .mb-4{
        margin-top: 2rem;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .img-forms{
        display: none;
    }

    .form-registrar{
        width: 100%;
        height: auto;
    }

    .img-forms{
        display: none;
    }

    .contenedor_input label{
        width: 100%;
        height: 1.4rem;
        font-size: 1rem;
    }
    
    .contenedor_input input{
        width: 100%;
        height:1.4rem;
        font-size: 1rem;
    }

    .btn-registrar{
        width:100px;
        height: 40px;
        font-size: 1rem;
    }

    .form-login{
        height: 50%;
    }
}