.main-noticias{
    background-color: var(--fondo-principal);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-noticias-ultimas_noticias{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.titulo-buscador-ultimas_noticias{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.titulo-buscador-ultimas_noticias h2{
    font-size: 2rem;
    margin-left: 3rem;
    color: #f2f2f2;
    font-family: var(--family-verdana);
}

.buscador{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buscador input{
    width: 70%;
    height: 3rem;
    border: none;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    outline: none;
    padding-left: 1rem;

}

.buscador button{
    width: 10%;
    height: 3rem;
    border: none;
    border-radius: 0 20px 20px 0;
    padding: .5rem;
    background-color: #e0e0e0;
    cursor: pointer;
}

.buscador button>img{
    width: 70%;
    height: 100%;
}


.contenedor-ultimas_noticias{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fondo-main);
    overflow-x: hidden;
    position: relative;
}

.noticia{
    min-width: 50%;
    height: 20rem;
    margin: 2rem 3rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--family-verdana);
    background-color: #e0e0e0;
    position: relative;
    transition: 1s;
    /* animation: carrusel 18s infinite  1s; */
}

.noticia::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #3337;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;    
}

@keyframes carrusel {
    0% {
        transform: translate(0%);
    }
    5%{
        transform: translate(0%);
    }
    10%{
        transform: translate(0%);
    }
    15%{
        transform: translate(0%);
    }
    20%{
        transform: translate(100%);
    }
    25%{
        transform: translate(100%);
    }
    30%{
        transform: translate(100%);
    }
    35%{
        transform: translate(100%);
    }
    40%{
        transform: translate(0%);
    }
    45%{
        transform: translate(0%);
    }   
    50%{
        transform: translate(0%);
    }
    55%{
        transform: translate(0%);
    }
    60%{
        transform: translate(0%);
    }
    65%{
        transform: translate(-100%);
    }   
    70%{
        transform: translate(-100%);
    }
    75%{
        transform: translate(-100%);
    }
    80%{
        transform: translate(-100%);
    }
    85%{
        transform: translate(0%);
    }
    90%{
        transform: translate(0%);
    }
    95%{
        transform: translate(0%);
    }
    100%{
        transform: translate(0%);
    }
    
}

.noticia img{
    height: 100%;
    position: relative;
}

.noticia-card1{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .noticia-card2{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .noticia-card3{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


.descripcion{
    width:auto;
    height: auto;
    padding: .5rem 1rem;
    background-color: #3339;
    border-radius: 20px;
    color: #f2f2f2;
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.descripcion h3{
    font-size: 1rem;

}

.descripcion p{
    font-size: .5rem;
}

.cambio-noticias{
    width: 60px;
    height: 100%;
    background-color: #3339;
    font-size: 4rem;
    border: none;
    color: #f2f2f285;    
}

.btn-rigth{
    position: absolute;
    right:1px;
}

.btn-left{
    position: absolute;
    left: 1px;
}


/* carrusel */

.trans0{
    transform: translateX(0%); 
}

.trans100{
    transform: translateX(100%); 
}

.trans_100{
    transform: translateX(-100%); 
}