.main-noticias{
    background-color: var(--fondo-principal);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-noticias-ultimas_noticias{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.titulo-buscador-ultimas_noticias{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.titulo-buscador-ultimas_noticias h2{
    font-size: 1.6rem;
    color: #f2f2f2;
    font-family: var(--family-verdana);
}

.buscador{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: var(--family-verdana);
    font-weight: 800;
    font-size: 1.6rem;
    color:#f2f2f2;
}

.buscador #buscar-categoria{
    width: 50%;
    height: 2rem;
    border: none;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 0px;
    outline: none;
    padding-left: 1rem;
    margin-left: 1rem

}

.buscador button{
    width: 10%;
    height: 3rem;
    border: none;
    border-radius: 0 20px 20px 0;
    padding: .5rem;
    background-color: #e0e0e0;
    cursor: pointer;
}

.buscador button>img{
    width: 70%;
    height: 100%;
}


.contenedor-ultimas_noticias{
    box-sizing: border-box;
    width: 100%;
    height: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fondo-main);
    overflow-x: hidden;
    position: relative;
    padding: 1rem 0;
}

.noticia{
    min-width: 50%;
    height: 20rem;
    margin: 2rem 3rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--family-verdana);
    background-color: #e0e0e0;
    position: absolute;
    transition: 1s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* animation: carrusel 18s infinite  1s; */
}

.noticia::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #3337;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;    

}

.noticia img{
    height: 100%;
    z-index: 2;
}

.descripcion{
    box-sizing: border-box;
    margin: 1rem;
    width: auto;
    height: auto;
    padding: .5rem 1rem;
    background-color: rgba(20, 20, 20, 0.753);
    backdrop-filter: blur(1px);

    border-radius: 10px;
    color: #f2f2f2;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.descripcion h3{
    font-size: 1rem;

}

.descripcion p{
    font-size: .6rem;
}

.cambio-noticias{
    width: 60px;
    height: 30%;
    font-size: 2rem;
    background: none;
    border: none;
    color: #ffffff;
}

.btn-rigth{
    background-color: #3339;
    position: absolute;
    right:1px;
    z-index: 3;
    cursor: pointer;
}

.btn-rigth:hover{
    background-color: rgb(31, 31, 31);
}

.btn-left{
    background-color: #3339;
    position: absolute;
    left: 1px;
    z-index: 3;
    cursor: pointer;
}

.btn-left:hover{
    background-color: rgb(31, 31, 31);
}

/* carrusel */

.act{
    transform: translateX(0%);
    opacity: 1;
    transition: 0.4s;
    z-index: 2;
}

.act:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: 0.2s;
    z-index: 2;
}

.right{
    transform: translateX(110%);
    transition: 0.4s;
    opacity: 0.8;
    z-index: 0;
}

.left{
    transform: translateX(-110%); 
    transition: 0.4s;
    opacity: 0.8;
    z-index: 1;
}


@media only screen and (max-width: 741px){
    .noticia img{
        object-fit: cover;
        width: 100%;
        border-radius: 10px;
    }
}

/* Filtro */
.dropdown {
    display: flex;
    position: relative;
    z-index: 3;
    width: 20%;
    height: 2rem;
    background-color: #f2f2f2;
    margin-left: 2rem;
    border-radius: 10px;
    transition: .5s;
    padding-top: .8rem;
}

.dropdown:hover {
    background-color: #f0f0f0;
    border: 2px solid var(--fondo-main);
}
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    background-color: #f2f2f2;
    border-radius: 10px 10px 10px 10px;
  }
  .activar_select {
    display: block;
    border: 2px solid var(--fondo-main);
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    font-size: .8rem;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: var(--fondo-principal);
    border-radius: 10px 10px 10px 10px;
  }



  
@media only screen and (max-width: 741px){

    .titulo-buscador-ultimas_noticias{
        flex-direction: column;
    }

    .buscador{
        width: 100%;
    }
    .noticia img{
        object-fit: cover;
        width: 100%;
        border-radius: 10px;
    }

    .dropdown {
        width: 50%;
    }
}