{% extends 'base.html' %} 
{% load static %} 
{% block title %} Noticia {{noticia.titulo}}{% endblock %} 
{% block contenedor %}
<main class="detalle">
    <div class="contenedor_detalle">
        <section class="content-detalle-noticia">
            <div class="titulo-detalle-noticia">
                <h2>{{noticia.titulo}}</h2>
            </div>
            <div class="img-detalle-noticia">
                <img src="{{noticia.imagen.url}}">
            </div>
            <div class="fecha-categoria-detalle-noticia">
                <p>FECHA: {{noticia.fecha}}</p>
                <p>CATEGORÍA: {{noticia.categoría_noticia}}</p>
            </div>
            <hr class="divisoria">
            <div class="cuerpo-detalle-noticia">
                <h3>Noticia:</h3>
                <p>{{noticia.cuerpo}}</p>
            </div>
        </section>
        <hr class="divisoria">

        <section class="add-comentarios">

            <form class="add-comentarios-form" action="{% url 'noticias:comentar' %}" method="POST">

                {% csrf_token %}
                <textarea class="input" name="comentario" max-length="1500" placeholder="Escribe tu comentario..."></textarea>
                <input type="text" name="id_noticia" value="{{noticia.id}}" hidden="">
                <div class="btn-detalle">
                    <button type="submit" class="button">Comentar</button>
                </div>

            </form>

        </section>
        
        <hr class="divisoria">
        <section class="get-comentarios">
            <h3 class="titulo_comentarios">Comentarios:</h3>
            {% for c in comentario %}
            <div class="card-content-comentario">
                <div class="card-usuario">
                    <h4>{{c.usuario}}</h4>
                </div>
                <div class="card-fecha">
                    <p>{{c.fecha}}</p>
                </div>
                <div class="card-comentario">
                    <p>{{c.comentario}}</p>
                </div>
            </div>
            {% endfor %}
        </section>   
    </div> 
</main>

{% endblock %}
