{% extends 'base.html' %} 
{% load static %} 
{% block title %} Noticias{% endblock %} 
{% block contenedor %}
<main class="main-noticias">
  <section class="section-noticias-ultimas_noticias">
    <div class="titulo-buscador-ultimas_noticias">
      <h2>Ultimas Noticias</h2>

      <div class="buscador">
        Filtrar
        <select name="buscador" id="buscar-categoria">
          {% for c in categoria%}
          <option value="{{c.nombre}}">{{c.nombre}}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="contenedor-ultimas_noticias">
      {% for noti in noticiaUlt %}
      <div class="noticia" style="background-image: url({{noti.imagen.url}})">
        <img src="{{noti.imagen.url}}" alt="" />
        <div class="descripcion">
          <h3>{{noti.titulo}}</h3>
          <p>
            {{noti.cuerpo}}
          </p>
        </div>
      </div>
      {% endfor %}

      <button class="cambio-noticias btn-left"><</button>
      <button class="cambio-noticias btn-rigth">></button>
    </div>
  </section>
</main>

<article class="articulo">
  {% for i in noticia %}
  <div class="contenedorNoticia">
    <img src="{{i.imagen.url}}" alt="Imágen Noticia" class="img-noticia">
    <div class="contenedorTexto">
      <div class="texto-articulo">
        <h3 class="tituloNoticia">{{i.titulo}}</h3>
        <p class="resumenNoticia">{{i.cuerpo}}</p>
      </div>
      <div class="btn-articulo">
        <a href="{% url 'noticias:detalle' i.id %}" class="leerMas">Leer más</a>
      </div>
    </div>
  </div>
  {% endfor %}
  {% block noticia %}
  {% endblock %}
</article>
{% endblock %}
