:root{
    --fondo-body: #E9C46A; 
    --fondo-interno:#F4A261;
    --fondo-card: #E5E5E5;
    --fondo-nav: #14213D;
    --letras:#2d2d2d;
    --family:'Roboto', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: var(--family);
    min-height: 100vh;
    width: 100vw;   
    background-color: var(--fondo-body);
    padding:1.5rem 4rem;
    color:var(--letras)
}

footer{
    width: 100%;
    height: 4rem;
    background-color: var(--fondo-nav);
    border-radius: 0 0 10px 10px;
}