:root{
    /* Se utiliza para crear variables que puedan ser usadas en todos los archivos css del proyecto */
    --fondo-principal:#b2c629;
    --fondo-header:rgb(29,29,29);
    --fondo-nav:rgb(41,41,41);
    --fondo-main:rgb(37,37,37);
    --family-verdana:Verdana ,Geneva, Tahoma, sans-serif;
    --family-georgia:Georgia,"Time New Roman", Times, serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
}


.up{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 70px;
    height: 70px;
    background-color: var(--fondo-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    padding-top: .5rem;
    opacity: .5;
}

.up a{
    text-decoration: none;
    color: #fff;
    font-size: 3rem;
}

@media only screen and (max-width: 741px){
    .up{
        position: fixed;
        bottom: 100px;
        right:10px;
        width: 50px;
        height: 50px;
    }

    .up a{
        text-decoration: none;
        color: #fff;
        font-size: 2rem;
    }
}