header{
    width: 100%;
    height: 23rem;
    background-color: var(--fondo-principal);
    padding: 2rem;
    border-bottom: 10px solid rgb(59, 59, 59);
    position: relative;
}

.contenedorInfo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_text{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color: rgb(82,82,82);
    font-family: var(--family-verdana);
}

.header_text h2{
   font-size: 1.8rem;
}

.header_text p{
    text-align: justify;
    line-height: 1rem;
    font-size: .9rem;
}

.header_imagenes{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    text-shadow: 0 0 10px 10px #333;
}

.img1{
    width: 45%;
    height: 130%;
}

.imagen1{
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 2px 10px #000);
}

.img2{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen2{
    width: 100%;
    height: 80%;
}

.bienvenido{
    width: auto;
    height: auto;
    padding: .8rem 1rem 1rem 2rem;
    background-color: #3339;
    position: absolute;
    top:95px;
    right: 0;
    border-radius: 0 0 0 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: var(--family-verdana);
    font-size: 1rem;
    box-shadow: 2px 2px 5px 0 black;
}


/* Responsividad */

@media only screen and (max-width: 1440px){
    .img1{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 130%;
    }
}

@media only screen and (max-width: 1024px){

    header{
        width: 100%;
        min-height: 20vh;
        background-color: var(--fondo-principal);
        padding: 2rem;
        border-bottom: 10px solid #000;
    }

    
    .header_text h2{
       font-size: 1rem;
    }
    
    .header_text p{
        text-align: justify;
        line-height: 1rem;
        font-size: .7rem;
    }
    
    .img1{
        align-self: flex-start;
        height: 140%;
    }


}

@media only screen and (max-width: 768px){
    header{
        width: 100%;
        height: auto;
        background-color: var(--fondo-principal);
        padding: 2rem;
        border-bottom: 10px solid #000;
    }

    .contenedorInfo{
        justify-content: center;
        flex-direction: column;
        flex-direction: column-reverse;
    }

    .header_text{
        margin-top: 2rem;
    }

    .header_imagenes{
        margin-top: 2rem;
        width: 100%;
        height: 50%;
        align-self: center;
        justify-content: space-around;
        align-items: center;
    }

    .img1{
        width: 45%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .img2{
        width: 45%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

   

    .header_text{
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .header_text p{

        font-size: 1rem;
    }

}

@media only screen and (max-width:450px){
    header{
        width: 100%;
        height: 60vh;
        background-color: var(--fondo-principal);
        padding: 2rem;
        border-bottom: 10px solid #000;
    }

    .contenedorInfo{
        justify-content: center;
        flex-direction: column;
    }

    .header_text{
        height: 50%;
        margin-top: 2rem;
    }
    
    .header_text p{
        margin-top: 1.5rem;
        font-size: .7rem;
    }

    .header_imagenes{
        margin-top: 2rem;
        width: 100%;
        height: 50%;
        align-self: center;
        justify-content: space-around;
    }

    .img1{
        width: 45%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .img2{
        width: 45%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bienvenido{
        display: none;
    }
}